* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-color: #0B0C10;
    color: white;
    scroll-behavior: smooth;
}
  #slideshow {
    max-width: 100%;
    margin-top: -30vw;
    width: 100%;
  }
  
  .slide {
    display: none;
    width: 100%;
    height: 600px;
    margin-top: 30vw;
    background-repeat: repeat;
    animation: fade;
    animation-duration: 1.5s;
  }

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B0C10;
    padding: 10px 40px;
    
}


.Logo{
  width: 200px;
  height: 100px;
  padding-left: 50px;
}
  
.headerIMG{
width: 100%;
height: auto;

}


.menu {
    display: flex; 
    align-items: center;
}
.socials li,
.menu li {
    display: inline-block;
    list-style: none;
    margin: 5px;
}
.menu li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 3px;
    transition: background-color .1s ease-in-out;
}
.menu li a:hover {
    background-color: #2a4c89;
}
.icon {
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

.content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
    background-color: #45a29e;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .progress-bar {
    width: 0;
    height: 3px;
    background-color: #45a29e
    ; 
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1000;
    transition: width 0.3s ease;
}
* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#foto1 {
  height: 40vb;
  margin-left: 55vw;
  margin-top: 10vw;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.slideshow-container {
  background-color: white;
}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background:hwb(183 3% 33%);
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col{
  box-sizing: border-box;
  padding: 15px;
}

.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars{
  margin-bottom: 20px;
}

.checked {
  color: yellow;
}

.footer {
    background-color: (0 0% 100% / 0.958);
    padding: 30px 0;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 40px;
    bottom: 0;
    left: 0;
}

.footer-col h4 {
    font-size: 18px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: whitesmoke;
    height: 2px;
    box-sizing: border-box;
    width: 110px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: whitesmoke;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}



.rowr {
    display: flex;
    flex-wrap: wrap;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 50px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ffffffc5;
    border: 0;
    outline: none;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa {
    font-size: 18px;
    margin-right: 10px;
    color: white;
}

div ul {
    list-style: none;
}

.geschiedenis{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 5rem;
    color: white;
}

.geschiedenis-tekst h3{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    line-height: 1.2;
    margin-left: 35px;
    margin-top: 150PX;
}

.geschiedenis-tekst p{
    font-weight: 500;
    line-height: 20px;
    border-radius: 10px;
    margin-left: 35px;
}

#foto2 {
  height: 40vb;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10vw;
  margin-top: 10vw;
}

#foto3 {
  height: 40vb;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 50vw;
  margin-top: 0vw;
}

.info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 5rem;
}

.Info-text h3{
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
  line-height: 1.2;
  margin-top: -40px;
  margin-left:-90vw;
}

.Info-text p{
  font-weight: 500;
  line-height: 20px;
  border-radius: 10px;
  margin-left: -90vw;
} 

.NXT {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 25vh; 
  margin-bottom: 25vw;
  border-radius: 10px;
}

.NXT h1 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: white;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-top: -45vw;
}

.NXT p {
  font-size: 18px;
  color: whitesmoke;
  line-height: 1.5;
  margin-bottom: 50px;
}

.NXT .button {
  color: black;
  padding: 12px 25px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  margin-bottom: 20px;
}

.NXT .button:hover {
  background-color: hwb(183 3% 33%);
  transition: 0.5s ease;
}

.header{
  height: 200px;
}
